.gallery {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    gap: 20px;
}

@media(max-width: 767px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

.galleryAspectRatio {
    padding-top: calc(100%*9/10);
    position: relative;
}

.galleryImage {
    width: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 3px 3px rgb(124, 124, 124);
}

#image3 {
    object-position: 50% 5%;
}

#image4,
#image7 {
    object-position: 50% 20%;
}

#image6 {
    object-position: 50% 40%;
}

#image8 {
    object-position: 50% 15%;

}

#image9 {
    object-position: 50% 30%;

}