.services {
    margin: 500px 0 15px;
    font-family: Source Sans Pro;
}

@media(max-width: 991px) {
    .services {
        margin: 1200px 0 15px;
    }
}

.services__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__header-h5 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fb414e;
    font-weight: 100;
    font-family: Source Sans Pro;
}



.services__header-h2 {
    font-size: 60px;
    font-weight: 500;
    color: #202B30;
    flex-wrap: wrap;
    font-family: Source Sans Pro;
}

@media(max-width: 991px) {
    .services__header-h2 {
        font-size: 20px;
    }
}

.text-color {
    color: #fb414e;
}



.services__header-p {
    margin-top: 50px;
    color: #9aa6c3;
    width: 50%;
    font-size: 22px;
    text-align: center;
}

@media(max-width: 991px) {
    .services__header-p {
        font-size: 16px;
        width: 80%;
    }
}

.services__tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 33%;
    padding: 0 100px;
}

.services__tile-img {
    margin-top: 50px;
    width: 50px;
}

.services__tiles-h4 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 300;
    font-family: Source Sans Pro;
}

.services__tiles-p {
    text-align: center;
    margin-top: 20px;
    color: #9aa6c3;
}